
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary:#DEA54B;
  --secondary:#2D3047;
  --dark: #2D3047;
  --light: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/bk.jpeg);
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
}

.navbar-container nav {
  display: flex;
  gap: 1rem;
 
}

.navbar-container a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.navbar-container a.active {
  color: var(--light);
}
.logo {
  color: #FEFF86;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #89375F 0%,
    #BAD7E9 29%,
    #EBB02D 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 25px;
  
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 2rem 2rem;
}

.app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  color:var(--light);

}

::placeholder {
  color:var(--dark);
  
}

.container {
  max-width: 100vw;
  margin: auto;
  
}
.container > h1 {
  color:var(--light);
 
}

.bold {
  font-weight: 700;
}
.card-body{
  padding: 2rem 2rem;
 
}
.myrow{
  padding: 2rem 2rem;
}

.location{
  font-size: larger;
  color:var(--light);
}

.sunrise-sunset{
  color:var(--light);
  margin-bottom: 2rem;
}
.time{

  color:var(--light);
}

.forecast{
  background-color: rgba(71, 67, 67, 0.2);
  color:var(--light);
  margin-bottom: 2rem;
}

.top{
  padding:1rem 1rem;
  background-color:rgba(71, 67, 67, 0.2) ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 2rem;
  flex-direction: column;
  border-radius: 5px;
 
 
}
.sunrise-sunset > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
  margin: auto;
  padding: 1rem 1rem;

  .row {
   row-gap: 1rem;
  }
.banner{
 width: 5rem;
}




























  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
